body {
    background-color: whitesmoke;
}

.note {
    background-color: rgb(255,240,165);
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;

} */

.allNotes {
    margin: 0 auto;
    padding: 0 15px;
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
}

.new {
    background-color: aqua;
    background-color: rgb(255,240,165);
    border: 1px solid gray;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

textarea {
    border: none;
    resize: none;
    background-color: rgb(255,240,165);
}

textarea:focus{
    outline: none;
}

.save {
    background-color: wheat;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.save:hover {
transform: scale(1.05);

}

.delete-icon {
 cursor: pointer;
}

.header {
    width: 100%;
    background-color: rgb(0,30,60);
    margin: 0px auto 20px auto;
    text-align: center;
    padding: 10px 0;
    color: white;
}

.title select {
    border: none;
    background-color: rgb(255,240,165);
    font-weight: bold;
}